body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary{
  background-color: #F2B705 !important;
  border: 1px solid #F2CB05 !important; 
}
.btn-primary:hover{
  background-color: #d9a404 !important;
  border: 1px solid #c0a104 !important;
}

header{
  background-color: #ef5350;
}
header .nav-item .nav-link{
  color: #fff;
  padding: 17px 20px;
}

header .nav-item .nav-link:hover{
  text-decoration: underline;
  background-color: #e05050;
}

.active{
  background-color: #005050;
}

@media screen and (max-width: 520px) {
  header {
    overflow-x: scroll !important;
  }
}